numpy==1.24.2
matplotlib==3.8.0
scipy==1.11.3
tensorflow==2.14.0
shap==0.42.1
scikit-image==0.22.0
altair==5.1.2
tensorflow-probability==0.22.0
git+https://github.com/sevamoo/SOMPY
git+https://github.com/DataFusionTools/core
git+https://github.com/DataFusionTools/spatial_utils